<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="https:/use.fontawesome.com/releases/v5.15.4/css/solid.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css" />

  <link rel="shortcut icon" href="../assets/img/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="../assets/js/visualizar-projeto.js" defer></script>
  <link rel="stylesheet" href="../assets/css/index-style.css">
  <link rel="stylesheet" href="../assets/css/login-style.css">
  <link rel="stylesheet" href="../assets/css/visualizar-proj.css">
  <link rel="stylesheet" href="../assets/css/listar-projetos.css">

  <title>Actnow - Visualizar Projeto</title>
</head>

<body>
  <!-- HEADER -->
  <nav class="navbar navbar-dark sticky-top navbar-expand-lg">
    <div class="container-fluid">
      <a href="/" class="name-logo fw-bold ">
        <img class="img img-fluid me-2" src="../assets/img/blue-actnow-logo.png" alt="Logo do ActNow">ActNow
      </a>
      <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/projetos" class="nav-link text-dark">
              <span class="fa-solid fa-folder-tree"></span>
              Projetos
            </a>
          </li>
          <li class="nav-item">
            <a href="/usuarios  " class="btn me-3">
              <span class="fa-solid fa-user"></span>
              Perfil
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- FIM HEADER -->

  <main>
      <% if (caso == 1) { %>
        <!-- já é voluntário e tem projeto, caso 1 -->
        <div class="proj-container main-box container mt-4">
        <div class="row">
          <div class="col-lg-8 first-container">
            <div class="div">
              <div class="proj-header d-flex justify-content-between align-items-center">
                <h2 class="proj-titulo"><%= titulo %> </h2> 
              </div>
              <div class="atv-content mb-3">
                <span class="d-flex align-items-center">Data de início</span>
                <p class="lead"> <%= inicio %> </p>
              </div>  
              <div class="atv-content mb-3" id="description-container">
                <span class="d-flex align-items-center">Descrição</span>
                <p class="lead"> <%= descricao %> </p>
              </div>  
              <div class="atv-content mb-3" id="justify-container">
                <span>Justificativa</span>
                <p class="lead">
                  <%= justificativa %> 
                </p>
              </div>
              <div class="atv-content mb-3" id="goals-container">
                <ul class="pt-4">
                  <li class=""> <%= objetivos %> </li>
                </ul>
              </div>
              <div class="atv-content mb-3" id="audience-container">
                <span class="publico-alvo">Público-Alvo</span>
                <p class="lead">
                  <%= publico %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="buttons-container">
              <div class="line"></div>
              <form action="/voluntarios/sair-projeto" method="POST">
                <input type="hidden" name="projNome" value="<%= titulo %>">
                <button type="submit" class="recruit-btn">
                  <span class="fa-solid fa-door-open"></span> Sair do Projeto
                </button>
              </form>
            </div>
          </div>
        </div>
        </div>
      <% } else if (caso == 2) { %>
      <div class="message-container">
        <p>Você não está em nenhum projeto</p>
        <div class="d-flex justify-content-center">
          <img src="../assets/img/no_projects.png" alt="Pastas vazias" class="img-fluid">
        </div>
      </div>
      <% } else if (caso == 3) { %>
      <div class="message-container d-flex justify-content-center flex-column align-items-center">
        <p>Você ainda não se tornou um Voluntário</p>
        <img src="../assets/img/alone.png" alt="Pessoa caminhando sozinha" class="img-fluid">
        <a href="/voluntarios/voluntariar-se" class="btn btn-primary">
          <span class="bi bi-person-badge-fill"></span>
          Ser um Voluntário</a>
      </div>
      <% } else { %>
      <p>ocorreu um erro...</p>
      <% } %>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <% if (typeof alerta !== 'undefined' && alerta) { %>
    <script>
      // JavaScript embutido para exibir o alerta passado do Node.js
      window.onload = function() {
        alert("<%= alerta %>")
      }
    </script>
  <% } %>
</body>

</html>
